body
{
background-color: #C0C0FF;
margin: 3px
}

.tree
{
font-size: 12px;
border: 0px
}

.top_dir
{
background-color: #FFFFFF;
color: #0040A0;
font-size: 12px;
border-color: #0040A0;
border: 1px;
border-style: solid;
text-align: center;
padding: 1
}

.tree_dir
{
color: #0040A0
}

.tree_file
{
color: #000000
}

.tree_vert
{
background: url(images/tree_vert.gif)
}