body
{
background-color: #C0C0FF
}

.tree
{
font-size: 12px
}

.tree_dir
{
font-size: 12px;
color: #0040A0
}

.tree_file
{
font-size: 12px;
color: #002200
}

.tree_vert
{
background: url(images/tree_vert.gif)
}